//
// My
// --------------------------------------------------

#mainCarousel {
	background-color: @backTextColor;
}

#mainCarousel img {
	float: left;
	padding: 15px;
}

#mainCarousel .carousel-caption {
	position: static;
	height: 280px;
}

.activeText {
	color: @activeTextColor;
}

.narrowFont{
	font-family: @narrowFontFamily;
}

h6 {
	margin-bottom: 0px;
	margin-top: 20px;
}
i {
	float:right;
	margin-left:5px;
}


h5 {
	margin-bottom: 0px;
	margin-top: 20px;
}

hr {
	border-color: #eeeeee;
}

#express-filter-box {
	background-color: #EEEEEE;
	padding: 5px;
	height: 55px;
}
// select2
.select2-choice, .select2-results{
	font-family: @narrowFontFamily;
}
.select2-results .select2-highlighted {
    background: @activeBackColor !important;
    color: #fff;
}

.select2-container-active .select2-choice{
    border: 1px solid @activeTextColor !important;
}
.select2-input{
    border: 1px solid @activeTextColor !important;
}
.select2-container .select2-choice {
    line-height: 20px !important;
    height: 20px !important;
	margin-bottom: 10px;
}

#express .select2-container{
	float: right;
}

#express {
	background: #fff;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
	box-shadow: 0px 1px 1px rgba(0,0,0,.35);
	padding: 10px;
	margin-left: 20px
}

@ovdcolor:                #f04e23;

@btnActionBackground:              @ovdcolor;
@btnActionBackgroundHighlight:     lighten(@ovdcolor, 15%);

.btn-action {
  .buttonBackground(@btnActionBackground, @btnActionBackgroundHighlight);
	text-transform: uppercase;
	top: 18px;
	position: relative;
}
