//
// My
// --------------------------------------------------

body {
	background-image: url(../img/main-bgd.png);
	background-size: 256px 256px;
}

// header//////////////////////////////////
.header{
	margin-top:9px;
	margin-bottom:9px;
}
.header .mainnav {
	padding-top:1px;
}
.header .mainnav button{
	margin-left:10px;
}
.header .select2-container{
	margin-left:10px;
}
.btn-action {
  .buttonBackground(@btnActionBackgroundHighlight, @btnActionBackground);
	text-transform: uppercase;
	/*top: 18px;*/
	position: relative;
	height:30px;
	font-weight:bold;
	width:225px;
	margin-bottom:14px;
}
// end of header///////////////////////////
// carousel new////////////////////////////
#mainCarousel{
	position:relative;
	height:280px;
	overflow:hidden;
	border-radius:4px;
	background: rgba(0, 0, 0, 0.75);
}
#mainCarousel .carousel-inner{
	position:absolute;
	left:275px;
	top:10px;
	width:470px;
	height:260px;
}
#mainCarousel .btn-group{
	position:absolute;
	left:0px;
	top:0px;
}
#mainCarousel .btn-group div.btn {
    border-radius: 0 0 0 0;
    height: 38px;
    line-height: 38px;
    margin-top: 0;
    padding: 0 0 0 10px;
    text-align: left;
    width: 253px;
}
#mainCarousel .btn-group .btn.active{
	background:none;
	border-width:0px;
    height: 40px;
    line-height: 40px;
}
#mainCarousel .btn-group .btn .carousel-indicators{
	display:none;
	top: 12px;
}
#mainCarousel .btn-group .btn.active .carousel-indicators, #mainCarousel .btn-group .btn:hover .carousel-indicators{
	display:block;
}
#mainCarousel .btn-group .btn .carousel-indicators li{
	background: none;
	opacity: 0.5;
}
#mainCarousel .btn-group .btn .carousel-indicators li.active, #mainCarousel .btn-group .btn .carousel-indicators li:hover{
	opacity: 1;
}
#mainCarousel .carousel-caption{
	width:470px;
	padding:10px;
}
// end of carousel new/////////////////////
#mainCarouselOld {
	//background-color: @backTextColor;
	background: rgba(0, 0, 0, 0.75);
	padding: 10px 0 10px 10px;
	border-radius:4px 4px 0 0;
}


#mainCarouselOld img {
	float: left;
	width:480px;
	height: 320px;
	border-radius:4px;
}

#mainCarouselOld .item .carousel-caption {
	left: 510px;
	height: 320px;
	background: none;
	width: 225px;
	top:0px;
	padding: 0px;
}
#mainCarouselOld .item .carousel-caption p{
	font-weight:bold;
	font-size:12px;
}

#mainCarouselOld .carousel-caption.general {
	position: absolute;
	top: 290px;
	left: 10px;
	bottom: 10%;
	padding: 0px;
	background: #333333;
	background: rgba(0, 0, 0, 0.55);
	width: 480px;
	height: 40px;
	border-radius:4px;
	line-height:20px;
}
#mainCarouselOld .carousel-caption.general .carousel-indicators{
	top:6px;
}

#mainCarouselOld .carousel-caption.general .carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    height: 8px;
    width: 8px;
}

#mainCarouselOld .carouselButtons {
	position: absolute;
	top: 310px;
	left: 10px;
}

#mainCarouselOld .carouselButtons button {
	font-family: @serifFontFamily;
	font-size: 11px;
	letter-spacing: 0px;
	padding: 0px 11px;
	font-weight: bold;
	border-width:0px;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.85);
}

#mainCarouselOld .carouselButtons button.active {
	background: none;
	color: #fff;
	box-shadow: none;
}

#mainCarouselOld .media-type.activeText {
 	bottom: 0px;
    position: absolute;
    right: -10px;
	background-color:#fff;
	color: #555;
	padding-left:10px;
	padding-right:10px;
	line-height:20px;
	text-decoration:underline;
	border-radius:4px 0 0 4px;
}
/////////////////////////

.activeText {
	color: @activeTextColor;
}

.narrowFont{
	font-family: @narrowFontFamily;
}

h6 {
	margin-bottom: 0px;
	margin-top: 20px;
}
i {
	float:right;
	margin-left:5px;
}


h5 {
	margin-bottom: -10px;
	margin-top: 20px;
}

hr {
	border-color: #eeeeee;
}

#express h3{
	margin-top: 0px;
	margin-bottom: 110px;
	line-height:20px;
}

#express-filter-box {
	background-color: #EEEEEE;
	padding: 10px;
	height: 55px;
	line-height:20px;
    position: absolute;
    left: 0;
    top: 40px;
	width:215px;
}
#express{
	position:relative;
	border-radius:4px 4px 0 0;
}
// select2
.select2-choice, .select2-results{
	font-family: @narrowFontFamily;
}
.select2-results .select2-highlighted {
    background: @activeBackColor !important;
    color: #fff;
}
.select2-choice{
	color: @activeTextColor !important;
}
.select2-choice div b{
	background-position: 0px -3px !important;
}

.select2-container-active .select2-choice{
    border: 1px solid @activeTextColor !important;
}
.select2-input{
    border: 1px solid @activeTextColor !important;
}
.select2-choice {
    line-height: 20px !important;
    height: 18px !important;
	margin-bottom: 10px;
}

#express .select2-container{
	float: right;
}

#express {

	
}
.simple-back{
	padding:10px;
	background: #fff;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.35);
	box-shadow: 0px 1px 1px rgba(0,0,0,.35);
}





// media //////////////////////////////////////////////////
.media-item{
	margin-bottom: 20px;
	position: relative;
}
.media-item img{
	float: left;
	margin-right:20px;
	width:100px; 
	height:100px; 
}
.media-item .media-type{
	float: right;
	background-color:#555555;
	position: absolute;
	right:0px;
	top:10px;
	color: #ffffff;
	padding-left:10px;
	padding-right:10px;
	text-decoration:underline;
	border-radius:4px 0 0 4px;
}
.media-item .links div{
	border-radius:4px;
	background: #F0F0F0;
	margin:0 10px 0 10px;
	width:230px;
}

// end media //////////////////////////////////////////////////
a{
	text-decoration:underline;
}


.twi{
	margin-top:20px;
}

.navbar-inner {
	background-image: linear-gradient(to bottom, #555555, #444444);
	background-image: -webkit-linear-gradient(top, #555555, #444444);
}

.navbar .nav li a {
    color: #FFFFFF;
    float: none;
    padding: 10px 0px 10px 10px;
    text-decoration: none;
    text-shadow: 0 0px 0 #FFFFFF;
	font-size:16px;
	font-weight:bold;
	width:180px;
	text-transform: uppercase;
}
.navbar .nav li a:hover{
	color: #fff;
}
.navbar-open{
	height:300px;
	width:1010px;
	background-color:rgba(0, 0, 0, 0.75);
	margin-left: auto;
    margin-right: auto;
}
.navbar-open ul{
	margin-left: 10px;
	margin-top: 10px;
	float:left;
	width:180px;
}
.navbar-open .service-block{
	margin-left: 10px;
	margin-top: 10px;
	float:left;
	width:390px;
}
.navbar-open img{
	margin-right: 30px;
	float:left;
}

.navbar-open .service-description{
	color: #fff;
	font-size: 12px;
    font-weight: bold;
    line-height: 18px;
	width:200px;
	float:left;
}
.navbar-open ul li{
	list-style: none outside none;
	margin-bottom: 10px;
}
.navbar-open ul li a:hover{
	text-decoration:underline;
}
.navbar-open li a{
	color: #FFFFFF;
	font-size:16px;
	font-weight:bold;
	text-decoration: none;
}
.navbar-fixed-bottom .navbar-inner{
	border-width: 0;
}
